.rty-form-item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  .label {
    width: 90px;
    font-size: 18px;
    margin-right: 10px;
    text-align: right;
    .required {
      color: $error-color;
    }
  }
  .content {
    flex: 1;
    position: relative;
    .err-msg {
      position: absolute;
      left: 0;
      bottom: -20px;
      color: $error-color;
    }
  }
}
