// color
$primary-color: #1989fa;
$info-color: #e6ebf1;
$success-color: #19be6b;
$warning-color: #ff9900;

$white: #fff;
$regular-text: #606266;

// size
$large: 20px;
$normal: 18px;
$small: 14px;
$mini: 12px;
