// color
$primary-color: #1989fa;
$success-color: #19be6b;
$plain-color: #909399;
$info-color: #e6ebf1;
$warning-color: #ff9900;
$error-color: #f56c6c;

$white: #fff;
$regular-text: #606266;

// size
$large: 20px;
$normal: 18px;
$small: 14px;
$mini: 12px;
